<div class="container mb-5">
  <div class="row">
    <div class="col-4 offset-4">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="search" class="form-label">Rechercher un pokémon</label>
            <input
              type="text"
              class="form-control"
              id="search"
              placeholder="Nom du pokémon"
              #searchField
              [value]="searchTerm()"
              (input)="setSearchTerm(searchField.value)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    @if(loading()) {
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    } @for(pokemon of filteredPokemonList(); track pokemon.id) {
    <div class="col-md-4">
      <div
        class="card mb-3 pokemon-card"
        appPokemonBorder
        [pokemonType]="pokemon.types[0]"
        [routerLink]="['/pokemons', pokemon.id]"
      >
        <div class="row g-0">
          <div class="col-md-4 bg-light">
            <img
              class="img-fluid rounded-start"
              [src]="pokemon.picture"
              [alt]="pokemon.name"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ pokemon.name }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Taille : {{ size(pokemon) }}
              </h6>
              <p>
                Date de création: {{ pokemon.created | date : "dd/MM/yyyy " }}
              </p>
              <p class="card-text">Points de vie : {{ pokemon.life }}</p>
              <p class="card-text">Dégats : {{ pokemon.damage }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
